<div class="main d-flex-md my-2 flex-column align-content-center justify-content-center vh-100 ">
    <div class="profile text-center  mx-auto w-75 flex-column align-content-center d-flex ">
        
        <h1 class="fs-1 mt-5 text-black  "> contact section</h1>
        <div class="divider m-2 text-center">
            <span class="star"> 
                <i class="fa-solid fa-star-half-stroke "></i>
            </span>
        </div>
        <div class="form-container mt-2">
  <form >
    <div class="form-group">
      <input type="text" [(ngModel)]="username" name="username" placeholder=" " />
      <label [class.floating]="isFilled(username)">Username</label>
    </div>

    <div class="form-group">
      <input type="number" [(ngModel)]="userage" name="userage" placeholder=" " />
      <label [class.floating]="isFilled(userage)">Age</label>
    </div>

    <div class="form-group">
      <input type="email" [(ngModel)]="useremail" name="useremail" placeholder=" " />
      <label [class.floating]="isFilled(useremail)">Email</label>
    </div>

    <div class="form-group">
      <input type="password" [(ngModel)]="userpassword" name="userpassword" placeholder=" " />
      <label [class.floating]="isFilled(userpassword)">Password</label>
    </div>

            <button type="submit" class="btn btn-primary px-5 mt-2">Send Message</button>
  </form>
</div>
